.home-container-1{
    min-height: 100vh;
    min-width: 1250px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0% auto;
}
.home-container-2{
    min-width: 1100px;
    width: calc(100% - 164px);
    border: solid 1px #d6d8dc;
    box-sizing: border-box;
    padding: 24px;
    display: flex;
    justify-content: space-between;
}
